<% content_for :head do %>
  <% data.seo.each do |seo| %>  
    <% if seo["page"] == "CodingBootcamp" %>
      <title><%= seo["title"] %></title>
      <meta name="description"           content="<%= seo["description"] %>" />
      <!-- Microdata -->
      <meta itemprop="name"              content="<%= seo["title"] %>" />
      <meta itemprop="description"       content="<%= seo["description"] %>" />
      <meta itemprop="image"             content="<%= "#{seo["base_url"]}#{image_path seo["image"]}" %>" />

      <!-- Facebook Open Graph data -->
      <meta property="og:site_name"      content="The Conversation Playground" />
      <meta property="og:title"          content="<%= seo["title"] %>" />
      <meta property="og:description"    content="<%= seo["description"] %>" />
      <meta property="og:image"          content="<%= "#{seo["base_url"]}#{image_path seo["image"]}" %>" />
      <meta property="og:type"           content="Website" />
      <meta property="og:url"            content="<%= seo["url"] %>" />

      <!-- Google+ -->
      <meta itemprop="name"              content="<%= seo["title"] %>" />
      <meta itemprop="description"       content="<%= seo["description"] %>" />
      <meta itemprop="image"             content="<%= "#{seo["base_url"]}#{image_path seo["image"]}" %>" />

      <!-- Twitter Card data -->
      <meta name="twitter:card"          content="summary_large_image" />
      <meta name="twitter:title"         content="<%= seo["title"] %>" />
      <meta name="twitter:description"   content="<%= seo["description"] %>" />
      <meta name="twitter:image:src"     content="<%= "#{seo["base_url"]}#{image_path seo["image"]}" %>" />
    <% end %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <p class="team-center corona-notice">
      <% data.corona.each do |corona| %>
        <%= corona["notice"] %>
      <% end %>
    </p>
  </div>
  <div class="col-xs-12 col-lg-4 visible-xs visible-md visible-sm">
    <%= image_tag workshop["image"], class: "workshop-illustration" %>
  </div>  
  <div class="col-xs-12 col-lg-7">
    <h1>
      Leer JavaScript in 4 dagen, volledig in het Engels
    </h1>
    <br>
    <p>
        <% link_to "/#contact-section", class: 'navbar-custom-item-extra', "data-target" => "#contact-section" do %>
           <span>
             Aanmelden
           </span>
           <i class="fas fa-chevron-right chev-r"></i>
        <% end %>
    </p>
    <h2>
      <br>
        Probably the best English bootcamp in the Netherlands
    </h2>
        <p>
      Bij The Conversation Playground geloven we in <strong>betekenisvol leren</strong>. Daarom hebben we een cursus 
      ontwikkeld waarin kinderen 21e eeuw skills kunnen opbouwen: creativiteit, technologie, kritisch denken 
      en een vergeten 21e-eeuwse skill: Engels.
    </p>


  </div>
  <div class="col-xs-12 col-lg-4 hidden-xs hidden-md hidden-sm">
    <%= image_tag workshop["image"], class: "workshop-illustration" %>
  </div>
</div>
    <h3>Veel gestelde vragen:</h3>
<button class="accordion">
  Wat gaan de kinderen leren?
</button>
<div class="panel">
  <p>
  Deze bootcamp is gebaseerd op de <i>Microsoft Makecode Introduction to Computer Science</i> cursus.
</p>
<p>
  We gebruiken een Micro:bit om:
</p>
<p>
<ul>
  <li>
    te leren over <strong>Design Thinking</strong> voor het maken van producten en toepassingen
  </li>
  <li>
    te leren programmeren met <strong>JavaScript</strong>
    <ul>
      <li>
        Variabelen creëren
      </li>
      <li>
        Conditional statements
      </li>
      <li>
        Loops
      </li>
      <li>
        Arrays
      </li>
      <li>
        Functies maken
      </li>
    </ul>
  </li>
  <li>
    gebruik te maken van de verschillende sensoren op de Micro:bit
    <ul>
      <li>
        temperatuursensor
      </li>
      <li>
        accelerometer
      </li>
      <li>
        lichtsensor
      </li>
    </ul>
  </li>
</ul>
  </p>
</div> 
    <button class="accordion">
  Wat is een Micro:bit?
</button>
<div class="panel">
  <p>
  De BBC Micro:bit is hardware ontwikkeld door de BBC met het doel om kinderen te leren programmeren.
  Meer informatie vind u terug op: <a href="http://microbit.org" target="_blank">http://microbit.org</a>
</p>
</div>

<button class="accordion">
  Wat voor resultaten kan ik verwachten van de bootcamp?
</button>
<div class="panel">
  <p>
  <ul>
  <li>Het niveau van gesproken Engels wordt verhoogd door de Engelstalig project omgeving</li>
  <li>Ze weten wat het Design Thinking methode is en hoe ze met het kunnen werken</li>
  <li>Ze weten de concepten van programmeren zoals, Variabelen, Loops, Conditionals</li>
  <li>Ze kunnen programmeren met JavaScript</li>
  <li>Ze kunnen de sensoren van de Miroc:bit gebruiken om dingen te maken</li>
  </ul>
  </p>
</div> 
<button class="accordion"> 
  Hoe ziet er een workshop eruit?
</button>
<div class="panel">
  <p>
    Workshops van The Conversation Playground zijn gericht op interactiviteit en hebben een hoog sociaal karakter.
    Alle programmeer concepten worden uitgelegd met actieve oefeningen. Er is heel veel samengewerkt.
  </p>
</div> 
<button class="accordion">
  Wat voor soort activiteiten zijn onderdeel van de workshops?
</button>
<div class="panel">
  <p>
    Elke dag gaan we een nieuwe projecten met de Mirco:bit uitwerken:
    <ul>
      <li>
        een Avoid the Darkside machine
      </li>
      <li>
        een stappenteller
      </li>
      <li>
        een Rock Paper Scissors-spel
      </li>
      <li>
        een bordspel
      </li>
      <li>
        een Simon Says selector
      </li>
      <li>
        een raket aftelklok
      </li>
      <li>
        EN alle creaties die de kinderen voor zichzelf willen maken
      </li>
    </ul>
  </li>

  </p>
</div> 
<button class="accordion">Voor wie is deze bootcamp geschikt?</button>
<div class="panel">
    <p>
        Deze bootcamp is gestemd op kinderen tussen 11 en 14 jaar. Het is voor iedereen die:
    </p>
    <ul>
      <li>
        Engelse lessen op school saai vindt
      </li>
      <li>
        Wil samenwerken met makers in andere landen via YouTube of Discord
      </li>
      <li>
        In de toekomst samen wil werken aan internationale wetenschapsprojecten
      </li>
      <li>
        Creatief wil zijn met technologie
      </li>
      <li>
        Er achter wil komen hoe je écht codeert
      </li>
      <li>
        Uitvindingen wilt ontwikkelen om de wereld beter te maken
      </li>
    </ul>
</div>
<button class="accordion">Moet mijn kind een bepaald niveau van Engels hebben om deel te nemen?</button>
<div class="panel">
<p>
  Uw kind moet op zijn gemak met de Engelse taal zijn. Foutjes mag. Het gaat om de moed te proberen.
</p>
<p>
  Controleer de niveau van uw kind via deze leuk placement test: 
  <br>
  <br>
        <% link_to "https://quizizz.com/join/quiz/5e995d6ba0907f001eea72bd/start?from=soloLinkShare&referrer=5e4fb7ca404b64001b23296e", class: 'navbar-custom-item-extra', target: "_blank" do %>
           <span>
             Niveau bepalen
           </span>
           <i class="fas fa-chevron-right chev-r"></i>
        <% end %>
  <br>
  <br>
  Als uw kind boven 40% scoort, heeft uw kind voldoende kennis van Engels om mee te doen.
</p>
</div>

    <button class="accordion">Waar worden de workshops gegeven?</button>
    <div class="panel">
      <p>
        De locatie voor de bootcamp is 
        <% link_to "https://enjoy-learning.nl/", target: "blanc" do %>
            Enjoy! Amstelveen
            <% end %>
        , adres: Amsterdamseweg 209, 1182 GW Amstelveen
      </p>
    </div>

<button class="accordion">
  Zijn de leraren ‘Native English’ sprekers?
</button>
<div class="panel">
  <p>
    Ja zeker! Engels is ons moedertaal.
  </p>
<p>
  Wij zijn ervaren coders die op ICT projecten in internationale omgevingen hebben gewerkt waar Engels de hoofd taal was.  
</p>
</div> 
<button class="accordion">
  Wat is een bootcamp?
</button>
<div class="panel">
  <p>
     ‘Bootcamp’ is een synoniem voor ‘intensieve cursus’. Een volledige Bootcamp bestaat uit 4 workshops, 
     4 dagen achter elkaar, van elk 2 uur.
  </p>
</div> 
<button class="accordion">
  Hoe groot zijn de groepen?
</button>
<div class="panel">
  <p>
     We hebben per bootcamp een minimum van 6 kinderen nodig om voldoende interactie te stimuleren. Als maximum 
    geldt een aantal van 10 kinderen: dit om ieder kind voldoende persoonlijke aandacht te kunnen bieden.
  </p>
</div> 
