<% content_for :head do %>
  <% data.seo.each do |seo| %>  
    <% if seo["page"] == "CodingCourse" %>
      <title><%= seo["title"] %></title>
      <meta name="description"           content="<%= seo["description"] %>" />
      <!-- Microdata -->
      <meta itemprop="name"              content="<%= seo["title"] %>" />
      <meta itemprop="description"       content="<%= seo["description"] %>" />
      <meta itemprop="image"             content="<%= "#{seo["base_url"]}#{image_path seo["image"]}" %>" />

      <!-- Facebook Open Graph data -->
      <meta property="og:site_name"      content="The Conversation Playground" />
      <meta property="og:title"          content="<%= seo["title"] %>" />
      <meta property="og:description"    content="<%= seo["description"] %>" />
      <meta property="og:image"          content="<%= "#{seo["base_url"]}#{image_path seo["image"]}" %>" />
      <meta property="og:type"           content="Website" />
      <meta property="og:url"            content="<%= seo["url"] %>" />

      <!-- Google+ -->
      <meta itemprop="name"              content="<%= seo["title"] %>" />
      <meta itemprop="description"       content="<%= seo["description"] %>" />
      <meta itemprop="image"             content="<%= "#{seo["base_url"]}#{image_path seo["image"]}" %>" />

      <!-- Twitter Card data -->
      <meta name="twitter:card"          content="summary_large_image" />
      <meta name="twitter:title"         content="<%= seo["title"] %>" />
      <meta name="twitter:description"   content="<%= seo["description"] %>" />
      <meta name="twitter:image:src"     content="<%= "#{seo["base_url"]}#{image_path seo["image"]}" %>" />
    <% end %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-xs-12 col-lg-4 visible-xs visible-md visible-sm">
    <%= image_tag workshop["image"], class: "workshop-illustration" %>
  </div>
  <div class="col-xs-12 col-lg-7">
    <h1>
      Coderen. Maken. Samenwerken.
    </h1>
    <h2>
        Volledig in het Engels!
    </h2>
    <p>
      Bij The Conversation Playground geloven we in <strong>betekenisvol leren</strong>. Tijdens deze cursus maken we gebruik
      van hardware die geprogrammeerd kan worden en in de wereld gelijk gebruikt. Daarom hebben we een cursus 
      ontwikkeld waarin kinderen 21e eeuw skills kunnen opbouwen: creativiteit, technologie, kritisch denken 
      en een vergeten 21e-eeuwse skill: Engels.
    </p>
    <p>
    <br>
      <strong>
        Deze cursus is voor iedereen die:
      </strong>
    </p>
    <ul>
      <li>
        Meer uitdaging met de Engelse taal wil
      </li>
      <li>
        Wil samenwerken met makers in andere landen via YouTube of Discord
      </li>
      <li>
        In de toekomst samen wil werken aan internationale wetenschapsprojecten
      </li>
      <li>
        Creatief wil zijn met technologie
      </li>
      <li>
        Er achter wil komen hoe je écht codeert
      </li>
      <li>
        Uitvindingen wilt ontwikkelen om de wereld beter te maken
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-lg-4 hidden-xs hidden-md hidden-sm">
    <%= image_tag workshop["image"], class: "workshop-illustration" %>
  </div>
</div>
<p>
  Een volledige cursus bestaat uit <strong>8 workshops</strong> van elk <strong>1.5 uur</strong>. We hebben per workshop een 
  minimum van 6 kinderen nodig om voldoende interactie te stimuleren. Als maximum geldt 
  een aantal van <strong>10 kinderen</strong>: dit om ieder kind voldoende persoonlijke aandacht te kunnen geven. 
  De totale kosten per kind bedragen <strong>€285</strong> (inclusief aankoop micro:bit).
</p>
<p>
  Het exacte schema wordt vastgesteld in samenwerking met de betreffende school.
</p>
<p>
  <br>
  <strong>
    Deze cursus is geen gewone cursus
  </strong>
</p>
<p>
  De cursus is gebaseerd op de Microsoft Makecode Introduction to Computer Science cursus en is gestemd op 
  kinderen tussen 11 en 14 jaar. En dat is niet alles! Het is volledig in het Engels, met een native docent 
  Engels. Zo bouwt uw kind het zelfvertrouwen op in het spreken en schrijven in het Engels. 
</p>
<p>
  EN dat is nog steeds niet alles !!
</p>
<p>
  Tijdens deze cursus gebruiken we een BBC Micro: bit (zie <a href="http://microbit.org">http://microbit.org</a> ) om:
</p>
<ul>
  <li>
    te leren over de <strong>Maker-Movement</strong>
  </li>
  <li>
    te leren over <strong>Design Thinking</strong> voor het maken van producten en toepassingen
    <ul>
      <li>
        een <strong>Brainstorm</strong> methode te leren
      </li>
    </ul>
  </li>
  <li>
    te leren programmeren met <strong>JavaScript</strong>
    <ul>
      <li>
        Variabelen creëren
      </li>
      <li>
        Conditional statements
      </li>
      <li>
        Loops
      </li>
      <li>
        Functies maken
      </li>
      <li>
        Arrays maken
      </li>
    </ul>
  </li>
  <li>
    gebruik te maken van de verschillende sensoren op de Micro: bit
    <ul>
      <li>
        temperatuursensor
      </li>
      <li>
        accelerometer
      </li>
      <li>
        lichtsensor
      </li>
    </ul>
  </li>
  <li>
    elke dag nieuwe projecten uitwerken:
    <ul>
      <li>
        een Avoid the Darkside machine
      </li>
      <li>
        een stappenteller
      </li>
      <li>
        een Rock Paper Scissors-spel
      </li>
      <li>
        een bordspel
      </li>
      <li>
        een Simon Says selector
      </li>
      <li>
        een raket aftelklok
      </li>
      <li>
        EN alle creaties die de kinderen voor zichzelf willen maken
      </li>
    </ul>
  </li>
</ul>
<p>
  <br>
  <strong>
    Onze leraren
  </strong>
</p>
<p>
  Wij zijn ervaren coders die op ICT projecten in internationale omgevingen hebben gewerkt waar Engels de hoofd taal was. 
  Wij zijn ervaren leraren die of <em>native speakers</em> zijn of het niveau van <em>native speaker</em> hebben.
</p>
<p>
  Wij zijn gericht op leren leuker maken: It is our mission to arouse in children the desire to learn, 
  because when they have this desire, learning comes easily.
</p>
<p>
  <br>
  <strong>
    Vereisten
  </strong>
</p>
<p>
  Uw kind moet op zijn gemak met de Engelse taal zijn. Foutjes mag. Het gaat om de moed te proberen.
</p>
<p>
  Controleer de niveau van uw kind via deze leuk placement test: 
  <br>
  <br>
        <% link_to "https://quizizz.com/join/quiz/5e995d6ba0907f001eea72bd/start?from=soloLinkShare&referrer=5e4fb7ca404b64001b23296e", class: 'navbar-custom-item-extra', target: "_blank" do %>
           <span>
             Niveau bepalen
           </span>
           <i class="fas fa-chevron-right chev-r"></i>
        <% end %>
  <br>
  <br>
  Als uw kind boven 40% scoort, heeft uw kind voldoende kennis van Engels om mee te doen.
</p>
<br>
<h3>
  Cursus nog niet beschikbaar op uw school?
</h3>
<p>
  Bent u een ouder of docent en heeft u interesse in de workshops? 
  Neem dan contact op via de onderstaande knop.
</p>
<p class="visible-lg">
        <% link_to "/#contact-section", class: 'navbar-custom-item-extra', "data-target" => "#contact-section" do %>
           <span>
             Ik ben geïnteresseerd
           </span>
           <i class="fas fa-chevron-right chev-r"></i>
        <% end %>
</p>
