---
title: The Conversation Playground - Workshops
---
<div class="team-bio-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 visible-xs visible-md visible-sm">
        <% link_to "/#program-section", class: "btn-previous-container" do %>
          <div class="btn-previous blue">
            <i class="fas fa-chevron-left"></i>
          </div>
          <span>
            Terug
          </span>
        <% end %>
      </div>
      <div class="hidden-xs hidden-md hidden-sm">
        <div class="side-info-container">
          <% link_to "/#program-section", class: "btn-previous-container" do %>
            <div class="btn-previous blue">
              <i class="fas fa-chevron-left"></i>
            </div>
            <span>
              Terug
            </span>
          <% end %>
          <ul>
            <% if workshop["type"] == "bootcamp" %>
              <li class="bootcamp-banner">
                Bootcamp
              </li>
            <% end %>
            <li>
              <h3>
                <%= workshop["name"] %>
              </h3>
            </li>
            <li>
              <%= workshop["amount"] %> workshops
            </li>
            <li>
              <%= workshop["time"] %> uur per workshop
            </li>
            <li>
              <!-- AShergill 10-June-2020 taking adult classes into account -->
              <% if workshop["type"] == "teacher" %>
                Max. <%= workshop["max_amount"] %> deelnemers
              <% else %>
                Max. <%= workshop["max_amount"] %> kinderen
              <% end %>
            </li>
            <li>
              <strong>
                <%= workshop["date"] %>
              </strong>
            </li>
            <% if workshop["duration_1"] %>
              <li>
                <%= workshop["duration_1"] %>
              </li>
            <% end %>
            <% if workshop["duration_2"] %>
              <li>
                <%= workshop["duration_2"] %>
              </li>
            <% end %>
            <li>
              <% if workshop["location_link"] %>
                <a href="<%= workshop["location_link"] %>" target="_blank">
                  <%= workshop["location"] %> 
                </a>
              <% else %>
                <%= workshop["location"] %> 
              <% end %>
            </li>
            <li>
              <%= workshop["from_age"] %>
            </li>
            <li class="workshop-price">
              <% if workshop["discount"] %>
                <strong>
                  <%= workshop["discount"] %>
                  <br>
                </strong>
              <% end %>
              <%= workshop["price"] %>
            </li>
            <% if workshop["price_addition"] %>
              <li>
                <%= workshop["price_addition"] %>
              </li>
            <% end %>
          </ul>
          <!-- AShergill 31-May-2020: put in a button with a chevron -->
          <% link_to "/#contact-section", class: 'navbar-custom-item-extra', "data-target" => "#contact-section" do %>
             <span>
               Inschrijven
             </span>
             <i class="fas fa-chevron-right"></i>
          <% end %>
      </div>
      </div>
      <div class="col-xs-12 col-lg-9">
        <div class="main-info-container">
          <%= partial workshop["partial"] %>
        </div>
      </div>
      <div class="visible-xs visible-md visible-sm">
        <div class="side-info-container">
          <ul>
            <% if workshop["type"] == "bootcamp" %>
              <li class="bootcamp-banner">
                Bootcamp
              </li>
            <% end %>
            <li>
              <h3>
                <%= workshop["name"] %>
              </h3>
            </li>
            <li>
              <%= workshop["amount"] %> workshops
            </li>
            <li>
              <%= workshop["time"] %> uur per workshop
            </li>
            <li>
              <!-- AShergill 10-June-2020 taking adult course into account -->
              <% if workshop["type"] == "teacher" %>
                Max. <%= workshop["max_amount"] %> deelnemers
              <% else %>
                Max. <%= workshop["max_amount"] %> kinderen
              <% end %>
            </li>
            <li>
              <% if workshop["location_link"] %>
                <a href="<%= workshop["location_link"] %>" target="_blank">
                  <%= workshop["location"] %> 
                </a>
              <% else %>
                <%= workshop["location"] %> 
              <% end %>
            </li>
            <li>
              <strong>
                <%= workshop["date"] %>
              </strong>
            </li>
            <% if workshop["duration_1"] %>
              <li>
                <%= workshop["duration_1"] %>
              </li>
            <% end %>
            <% if workshop["duration_2"] %>
              <li>
                <%= workshop["duration_2"] %>
              </li>
            <% end %>
            <li>
              <%= workshop["from_age"] %>
            </li>
            <li class="workshop-price">
              <% if workshop["discount"] %>
                <strong>
                  <%= workshop["discount"] %>
                  <br>
                </strong>
              <% end %>
              <%= workshop["price"] %>
            </li>
            <% if workshop["price_addition"] %>
              <li>
                <%= workshop["price_addition"] %>
              </li>
            <% end %>
          </ul>
          <!-- AShergill 31-May-2020: put in a button with a chevron -->
          <% link_to "/#contact-section", class: 'navbar-custom-item-extra', "data-target" => "#contact-section" do %>
             <span>
               Inschrijven
             </span>
             <i class="fas fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
