<div class="navbar-wrapper hidden-up hidden-xs" id="sticky-nav">
  <div class="navbar-custom container">
    <% link_to "/", class: 'logo' do %>
    <%= image_tag 'logo.svg' %>
    <% end %>
    <ul class="navbar-custom-center list-inline list-unstyled">
      <li>
        <%= link_to "Onze missie", "#mission-section", class: 'navbar-custom-item', id: "mission"  %>
      </li>
      <li>
        <%= link_to "Wat we doen", "#what-section", class: 'navbar-custom-item', id: "what"  %>
      </li>
      <li>
        <%= link_to "Programma", "#program-section", class: 'navbar-custom-item', id: "program"  %>
      </li>
      <li>
        <%= link_to "Team", "#team-section", class: 'navbar-custom-item', id: "team"  %>
      </li>
      <li>
        <%= link_to "Recensies", "#testimonials-section", class: 'navbar-custom-item', id: "testimonials"  %>
      </li>
    </ul>
    <% link_to "#contact-section", class: 'navbar-custom-item-extra' do %>
    <span>
      Contact
    </span>
    <i class="fas fa-chevron-right"></i>
    <% end %>
  </div>
</div>

<div class="navbar-wrapper" id="regular-nav">
  <div class="navbar-custom container">
    <% link_to "/", class: 'logo' do %>
    <%= image_tag 'logo.svg' %>
    <% end %>
    <ul class="navbar-custom-center list-inline list-unstyled hidden-xs">
      <li>
        <%= link_to "Onze missie", "/#mission-section", class: 'navbar-custom-item', id: "mission", "data-target" => "#mission-section"  %>
      </li>
      <li>
        <%= link_to "Wat we doen", "/#what-section", class: 'navbar-custom-item', id: "what", "data-target" => "#what-section"  %>
      </li>
      <li>
        <%= link_to "Programma", "/#program-section", class: 'navbar-custom-item', id: "program", "data-target" => "#program-section"  %>
      </li>
      <li>
        <%= link_to "Team", "/#team-section", class: 'navbar-custom-item', id: "team", "data-target" => "#team-section"  %>
      </li>
      <li>
        <%= link_to "Recensies", "/#testimonials-section", class: 'navbar-custom-item', id: "testimonials", "data-target" => "#testimonials-section"  %>
      </li>
    </ul>
    <% link_to "/#contact-section", class: 'navbar-custom-item-extra', "data-target" => "#contact-section" do %>
    <span>
      Contact
    </span>
    <i class="fas fa-chevron-right"></i>
    <% end %>
  </div>
</div>