---
title: The Conversation Playground - Home
body_class: pages-home
---

<div class="alert-temp">
  <p>
    Coronavirus: Alle Conversation Playground cursussen zijn nu volledig online. 
    Wij zijn enthousiast over de nieuwe mogelijkheden die online workshops bieden, 
    nog leerzamer en leuker leren!
  </p>
</div>

<div id="dots-container"></div>

<section class="default banner-wrapper" data-target="#mission">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-push-6">
        <div class="illustration-wrapper">
          <%= image_tag 'conversationplayground-header.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 col-lg-pull-6">
        <div class="content-card left" id="in-banner">
          <div class="banner-content">
            <h1>
              Engelse les, maar dan anders! <br> Zo spreekt uw kind vloeiender Engels
            </h1>
            <div class="descending-paragraph-container">
              <p>
                Interactieve en sociale workshops waarbij kinderen spelenderwijs Engels leren spreken – zonder dat ze het zelf door hebben!
              </p>
              <% link_to "/#contact-section", class: 'navbar-custom-item-extra', "data-target" => "#contact-section" do %>
                <span>
                  Ik ben geïnteresseerd
                </span>
                <i class="fas fa-chevron-right"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#program" id="program-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-push-6">
        <div class="illustration-wrapper">
          <%= image_tag 'programme.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 col-lg-pull-6">
        <div class="content-card left">
          <h2 class="text-left">
            De workshops
          </h2>

          <div class="text-left">
            <div class="cards-container">
            
              <% data.workshops.each do |workshop| %>       
                  <% link_to "/workshops/#{workshop["slug"]}.html", class: 'workshop-card' do %>
                  <div class="card-content">
                    <h3>
                      <%= workshop["name"] %>
                    </h3>
                    <p>
                      <%= workshop["amount"] %> workshop<%= workshop["amount"].to_i > 1 ? 's' : '' %>
                    </p>
                    <p>
                      Maximaal <%= workshop["max_amount"] %> kinderen
                    </p>
                    <p>
                      <%= workshop["from_age"] %>
                    </p>
                    <p>
                      <%= workshop["price"] %>
                    </p>
                  </div>
                  <span>Lees meer</span>
                  <div class="card-footer">
                    <p>
                      Tijdelijk online
                    </p>
                  </div>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>


<section class="default" id="video-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="illustration-wrapper">
          <iframe id="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/?listType=playlist&list=PL2tE70vZMIU-ymzrhoq2h8woSkQO9-8cx" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <% link_to "/#contact-section", class: 'navbar-custom-item-extra', "data-target" => "#contact-section" do %>
          <span>
            Ik ben geïnteresseerd
          </span>
          <i class="fas fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="content-card right">
          <h3>
            "Een paar jaar geleden realiseerde ik me dat vriendjes van mijn zoon mij uitstekend begrepen wanneer ik Engels sprak. Alleen... het antwoorden ging nog niet zo eenvoudig. Dat is waar mijn reis begon..." 
          </h3>
          <p>
            <em>
              Amardip Shergill, Founder
            </em>
          </p>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>


<section class="default" data-target="#mission" id="mission-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-push-6">
        <div class="illustration-wrapper">
          <%= image_tag 'our-mission.png', class: "smaller-picture" %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 col-lg-pull-6">
        <div class="content-card left">
          <h2 class="text-left">
            Goed voorbereid op de toekomst
          </h2>
          <p class="text-left">
            In onze globaliserende wereld is het van steeds groter belang de Engelse taal al op jonge leeftijd te leren beheersen.
          </p>
          <p class="text-left">
            Het niveau van Engels onder tien- tot zestien-jarigen is relatief hoog. De kinderen krijgen spelling, grammatica en schrijfvaardigheden onderwezen en leren zichzelf Engels door middel van YouTube, games en televisie. Echter blijkt vaak dat de <strong>spreekvaardigheid</strong> achterblijft, terwijl dit juist <strong>essentieel</strong> is!
          </p>
          <p class="text-left">
            Het is onze missie uw kind een voorsprong te geven in het dagelijks gebruik van de  Engelse taal.
          </p>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#what" id="what-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="illustration-wrapper">
          <%= image_tag 'how.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="content-card right">
          <h2>
            Gericht op praten
          </h2>
          <p>
            Onze Engelse docenten zijn uitgerust met een breed scala aan interactieve spellen waarmee de kinderen helemaal op kunnen gaan in de Engelse taal.
          </p>
          <p>
            De workshops hebben een hoog sociaal karakter, waarin kinderen leren zoals ze het beste leren: spelenderwijs. We scheppen een veilige omgeving waar fouten zijn toegestaan, en…
          </p>
          <p>
            <strong>
              Er wordt geen Nederlands gesproken!
            </strong>
          </p>
          <p>
            Zo bouwen de kinderen op natuurlijke wijze zelfvertrouwen op in het spreken en leren ze de taal diepgaander kennen.
          </p>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>


<section class="default" data-target="#team" id="team-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <h2 class="testimonial-center text-center">
          Ons team
        </h2>
      </div>
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <p class="team-center">
          Het belangrijkste onderdeel van goede educatie zijn goede mensen! Alle medewerkers van The Conversation Playground zitten vol ideeën en positieve energie. Deze brengen wij met ons mee naar het klaslokaal, om ook de kinderen te motiveren en enthousiasmeren. 
        </p>
      </div>
      <div class="col-xs-12 col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="row team-wrapper">
          <% data.team.each do |key, team_member| %>
          <div class="col-xs-4 col-md-4 col-lg-4">
            <% link_to "/team/#{key}.html", class: "team-card" do %>
            <%= image_tag team_member["image_url"] %>
            <h3>
              <%= team_member["name"] %>
            </h3>
            <p>
              <%= team_member["title"] %>
            </p>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#testimonials" id="testimonials-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <h2 class="testimonial-center">
          Happy kids
        </h2>
      </div>
      <div class="col-xs-12 col-lg-12">
        <div class="testimonial-wrapper">
          <% data.testimonials.each_with_index do |testimonial, index| %>
          <div class="testimonial-card<%= ' active' if index == 0 %>" data-target="#dot-<%= index %>" id="testimonial-<%= index %>">
            <div class="testimonial-avatar">
              <%= image_tag testimonial["image_url"] %>
            </div>
            <div class="testimonial-body">
              <p>
                “<%= testimonial["content"] %>”
              </p>
              <div class="testimonial-author">
                <span>
                  - <%= testimonial["author"] %>.
                </span>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="testimonial-dots">
          <% data.testimonials.length.times do |index| %>
          <a href="#" class="testimonial-dot<%= ' active' if index == 0 %>" id="dot-<%= index %>" data-target="#testimonial-<%= index %>"></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#contact" id="contact-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <h2 class="testimonial-center">
          Neem contact op
        </h2>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="illustration-wrapper">
          <%= image_tag 'contact.png', class: "negative-margin-top" %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="form-wrapper">
          <form action="https://formspree.io/info@theconversationplayground.nl" method="POST" class="contact-form">
            <div class="form-left">
              <label for="name">

              </label>
              <input type="text" name="name" id="name" placeholder="Naam" required>
              <label for="email">

              </label>
              <input type="email" name="_replyto" placeholder="Email" required>
              <label for="school">

              </label>
              <input type="text" name="school" placeholder="School naam & stad">
            </div>
            <div class="form-right">
              <label for="content">

              </label>
              <textarea name="content" id="content" cols="30" rows="10" placeholder="Hi!" required></textarea>
              <input type="submit" class="btn-brand" value="Verstuur">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :after_js do %>
<script>
  scrollToSection();
  scrollDots();
  activateNav();
  scrollTestimonials();
</script>
<% end %>