---
title: The Conversation Playground - Home
body_class: pages-home
---

<div id="dots-container"></div>

<div class="banner-wrapper">
  <div class="banner container">
    <div class="banner-content">
      <h1>
        Helping kids to confidently speak English since 2015
      </h1>
      <div class="descending-paragraph-container">
        <p>
          Leuke, betrokken en sociale workshops waarbij de kinderen zich niet eens beseffen dat ze aan het leren zijn
        </p>
      </div>
    </div>
  </div>
  <div class="banner-background">
    <div class="banner-image" style="background-image:url('<%= image_path 'conversationplayground-header.png' %>');"></div>
  </div>
  <div class="button-next-container">
    <p>
      Ontdek meer
    </p>
    <% link_to "#", class: "btn-next blue" do %>
    <i class="fas fa-chevron-down"></i>
    <% end %>
  </div>
</div>

<section class="default" data-target="#mission" id="mission-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-push-6">
        <div class="illustration-wrapper">
          <%= image_tag 'our-mission.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 col-lg-pull-6">
        <div class="content-card left">
          <h2 class="text-left">
            Voorbereiden op de toekomst
          </h2>
          <p class="text-left">
            In onze globaliserende wereld is het van steeds groter belang de Engelse taal al op jonge leeftijd te leren beheersen. Engels is een wereldtaal en wordt gebruikt binnen bedrijven, universiteiten en overheden, niet alleen internationaal maar zeker ook steeds meer in ons eigen land 
          </p>
          <p class="text-left">
            Het niveau van Engels onder 10- tot 12-jarigen is relatief hoog. De kinderen krijgen spelling, grammatica en schrijfvaardigheden onderwezen en leren zichzelf Engels door middel van YouTube, games en televisie. Echter blijkt vaak dat de spreekvaardigheid achterblijft, terwijl dit juist essentieel is.
          </p>
          <ul class="text-left">
            <li>
              Converseren in de Engelse taal
            </li>
            <li>
              Denken in de Engelse taal
            </li>
            <li>
              Leuke en sociale oefeningen doen
            </li>
            <li>
              Offline zijn in een ruimte met mensen die Engels als moedertaal hebben
            </li>
          </ul>
          <p class="text-left">
            Het is onze missie om kinderen een voorsprong te geven met Engels.
          </p>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#what" id="what-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="illustration-wrapper">
          <%= image_tag 'how.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="content-card right">
          <h2>
            We richten ons op spreken
          </h2>
          <p>
            Onze Engelse docenten zijn bewapend met een archief van spelletje waarmee de kinderen helemaal op kunnen gaan in de Engelse taal.
          </p>
          <p>            
            De spelletjes zijn gecreëerd voor het aanleren en ontwikkelen van spreekvaardigheid in het Engels. De workshops hebben een hoog sociaal karakter, waarin kinderen leren zoals ze het beste leren: spelenderwijs. Ze bouwen op natuurlijke wijze zelfvertrouwen op in het spreken en leren de taal diepgaander
          </p>
          <p>
            We scheppen een veilige omgeving waar fouten zijn toegestaan...
          </p>
          <p>
            <strong>
              Er mag geen Nederlands worden gesproken!
            </strong>
          </p>
          <p>
            De spelletjes
          </p>
          <ul>
            <li>
              Kunnen gespeeld worden in paren of in groepen, afhankelijk van het spel
            </li>
            <li>
              Het doel van ieder spel is om de studenten met elkaar aan de praat te krijgen, en met de docent
            </li>
            <li>
              Commando is een voorbeeld van een spel waarbij we het niveau van begrip en vocabulaire vaststellen
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#program" id="program-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-push-6">
        <div class="illustration-wrapper">
          <%= image_tag 'smaller_illustration.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 col-lg-pull-6">
        <div class="content-card left">
          <h2 class="text-left">
            Ons programma
          </h2>
          <div class="text-left">
            <p>
              We werken samen met scholen om de cursus aan te bieden voor groep 7 en 8.
            </p>
            <p>
              Praktische informatie
            </p>
            <ul>
              <li>
                8 workshops
              </li>
              <li>
                1 uur elk
              </li>
              <li>
                Minumum van 8 kinderen per workshop
              </li>
              <li>
                <strong>Totale kosten €80.-</strong>
              </li>
            </ul>
            <p>
              (Het precieze schema wordt vastgesteld in samenwerking met de school)
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#team" id="team-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <h2 class="testimonial-center">
          Ons team
        </h2>
      </div>
      <div class="col-xs-12 col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="row team-wrapper">
          <% data.team.each do |key, team_member| %>
          <div class="col-xs-4 col-md-4 col-lg-4">
            <% link_to "/team/#{key}.html", class: "team-card" do %>
            <%= image_tag team_member["image_url"] %>
            <h3>
              <%= team_member["name"] %>
            </h3>
            <p>
              <%= team_member["title"] %>
            </p>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#testimonials" id="testimonials-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <h2 class="testimonial-center">
          Wat anderen zeggen
        </h2>
      </div>
      <div class="col-xs-12 col-lg-12">
        <div class="testimonial-wrapper">
          <% data.testimonials.each_with_index do |testimonial, index| %>
          <div class="testimonial-card<%= ' active' if index == 0 %>" data-target="#dot-<%= index %>" id="testimonial-<%= index %>">
            <div class="testimonial-avatar">
              <%= image_tag testimonial["image_url"] %>
            </div>
            <div class="testimonial-body">
              <p>
                “<%= testimonial["content"] %>”
              </p>
              <div class="testimonial-author">
                <span>
                  - <%= testimonial["author"] %>.
                </span>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="testimonial-dots">
          <% data.testimonials.length.times do |index| %>
          <a href="#" class="testimonial-dot<%= ' active' if index == 0 %>" id="dot-<%= index %>" data-target="#testimonial-<%= index %>"></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#contact" id="contact-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <h2 class="testimonial-center">
          Neem contact op
        </h2>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="illustration-wrapper">
          <%= image_tag 'contact.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="form-wrapper">
          <form action="https://formspree.io/amardip@theconversationplayground.nl" method="POST" class="contact-form">
            <div class="form-left">
              <label for="name">
                Naam:
              </label>
              <input type="text" name="name" id="name" placeholder="John Doe" required>
              <label for="email">
                Email:
              </label>
              <input type="email" name="_replyto" placeholder="johndoe@gmail.com" required>
            </div>
            <div class="form-right">
              <label for="content">
                Uw bericht:
              </label>
              <textarea name="content" id="content" cols="30" rows="10" placeholder="Hi, ik kom graag in contact over..." required></textarea>
              <input type="submit" class="btn-brand" value="Verstuur">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :after_js do %>
<script>
  scrollToSection();
  scrollDots();
  activateNav();
  scrollTestimonials();
</script>
<% end %>