---
title: The Conversation Playground - Home
body_class: pages-home
---

<div id="dots-container"></div>

<div class="banner-wrapper">
  <div class="banner container">
    <div class="banner-content">
      <h1>
        Helping kids to confidently speak English since 2015
      </h1>
      <div class="descending-paragraph-container">
        <p>
          Interactieve en sociale workshops waarbij kinderen spelenderwijs Engels leren – zonder dat ze het zelf door hebben!
        </p>
      </div>
    </div>
  </div>
  <div class="banner-background">
    <div class="banner-image" style="background-image:url('<%= image_path 'conversationplayground-header.png' %>');"></div>
  </div>
  <div class="button-next-container">
    <p>
      Ontdek meer
    </p>
    <% link_to "#", class: "btn-next blue" do %>
    <i class="fas fa-chevron-down"></i>
    <% end %>
  </div>
</div>

<section class="default" data-target="#mission" id="mission-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-push-6">
        <div class="illustration-wrapper">
          <%= image_tag 'our-mission.png', class: "smaller-picture" %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 col-lg-pull-6">
        <div class="content-card left">
          <h2 class="text-left">
            Preparing for the future
          </h2>
          <p class="text-left">
            In onze globaliserende wereld is het van steeds groter belang de Engelse taal al op jonge leeftijd te leren beheersen.
          </p>
          <p class="text-left">
            Het niveau van Engels onder tien- tot twaalf-jarigen is relatief hoog. De kinderen krijgen spelling, grammatica en schrijfvaardigheden onderwezen en leren zichzelf Engels door middel van YouTube, games en televisie. Echter blijkt vaak dat de <strong>spreekvaardigheid</strong> achterblijft, terwijl dit juist <strong>essentieel</strong> is!
          </p>
          <p class="text-left">
            Het is onze missie uw kind een voorsprong te geven in het dagelijks gebruik van de  Engelse taal.
          </p>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#what" id="what-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="illustration-wrapper">
          <%= image_tag 'how.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="content-card right">
          <h2>
            We focus on speaking
          </h2>
          <p>
            Onze Engelse docenten zijn uitgerust met een breed scala aan interactieve spellen waarmee de kinderen helemaal op kunnen gaan in de Engelse taal.
          </p>
          <p>
            De workshops hebben een hoog sociaal karakter, waarin kinderen leren zoals ze het beste leren: spelenderwijs. We scheppen een veilige omgeving waar fouten zijn toegestaan, en…
          </p>
          <p>
            <strong>
              Er wordt geen Nederlands gesproken!
            </strong>
          </p>
          <p>
            Zo bouwen de kinderen op natuurlijke wijze zelfvertrouwen op in het spreken en leren ze de taal diepgaander kennen.
          </p>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#program" id="program-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-push-6">
        <div class="illustration-wrapper">
          <%= image_tag 'programme.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 col-lg-pull-6">
        <div class="content-card left">
          <h2 class="text-left">
            Our program
          </h2>
          <div class="text-left">
            <p>
              We werken samen met scholen waar we de workshops aanbieden voor groep 7 en 8. Een volledige cursus bestaat uit <strong>8 workshops van elk 1 uur.</strong> We hebben per workshop een minimum van <strong>8 kinderen nodig.</strong> De totale kosten per kind bedragen <strong>€80.</strong>
            </p>
            <p class="text-left">
              Het exacte schema wordt vastgesteld in samenwerking met de betreffende school.
            </p>
            <p class="text-left">
              Bent u een ouder of docent en heeft u interesse in de workshops? Neem dan contact op via de onderstaande knop.
            </p>
            <% link_to "/#contact-section", class: 'navbar-custom-item-extra', "data-target" => "#contact-section" do %>
            <span>
              Ik ben geïnteresseerd
            </span>
            <i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#team" id="team-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <h2 class="testimonial-center">
          Our team
        </h2>
      </div>
      <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <p class="team-center">
          Het belangrijkste onderdeel van goede educatie zijn goede mensen! Alle medewerkers van The Conversation Playground zitten vol ideeën en positieve energie. Deze brengen wij met ons mee naar het klaslokaal, om ook de kinderen te motiveren en enthousiasmeren. 
        </p>
      </div>
      <div class="col-xs-12 col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="row team-wrapper">
          <% data.team.each do |key, team_member| %>
          <div class="col-xs-4 col-md-4 col-lg-4">
            <% link_to "/team/#{key}.html", class: "team-card" do %>
            <%= image_tag team_member["image_url"] %>
            <h3>
              <%= team_member["name"] %>
            </h3>
            <p>
              <%= team_member["title"] %>
            </p>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#testimonials" id="testimonials-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <h2 class="testimonial-center">
          Our fan club
        </h2>
      </div>
      <div class="col-xs-12 col-lg-12">
        <div class="testimonial-wrapper">
          <% data.testimonials.each_with_index do |testimonial, index| %>
          <div class="testimonial-card<%= ' active' if index == 0 %>" data-target="#dot-<%= index %>" id="testimonial-<%= index %>">
            <div class="testimonial-avatar">
              <%= image_tag testimonial["image_url"] %>
            </div>
            <div class="testimonial-body">
              <p>
                “<%= testimonial["content"] %>”
              </p>
              <div class="testimonial-author">
                <span>
                  - <%= testimonial["author"] %>.
                </span>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="testimonial-dots">
          <% data.testimonials.length.times do |index| %>
          <a href="#" class="testimonial-dot<%= ' active' if index == 0 %>" id="dot-<%= index %>" data-target="#testimonial-<%= index %>"></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="button-next-container">
      <% link_to "#", class: "btn-next blue" do %>
      <i class="fas fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</section>

<section class="default" data-target="#contact" id="contact-section">
  <div class="container section-content">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <h2 class="testimonial-center">
          Contact us
        </h2>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="illustration-wrapper">
          <%= image_tag 'contact.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="form-wrapper">
          <form action="https://formspree.io/amardip@theconversationplayground.nl" method="POST" class="contact-form">
            <div class="form-left">
              <label for="name">
                Naam:
              </label>
              <input type="text" name="name" id="name" placeholder="John Doe" required>
              <label for="email">
                Email:
              </label>
              <input type="email" name="_replyto" placeholder="johndoe@gmail.com" required>
            </div>
            <div class="form-right">
              <label for="content">
                Uw bericht:
              </label>
              <textarea name="content" id="content" cols="30" rows="10" placeholder="Hi, ik kom graag in contact over..." required></textarea>
              <input type="submit" class="btn-brand" value="Verstuur">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :after_js do %>
<script>
  scrollToSection();
  scrollDots();
  activateNav();
  scrollTestimonials();
</script>
<% end %>